@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

html{
  @apply overflow-x-hidden scroll-smooth;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn:hover{
  @apply opacity-90
}
.btn_outline{
  @apply bg-transparent
}
.btn_outline:hover{
  

  @apply bg-[#f49f0a] 
}
.nav-link{
  @apply text-lg font-bold duration-300
}

.title{

  @apply font-semibold text-[#f49f0a]
}
.active{
  @apply text-[#f49f0a] 
}



/* styles.css */
/* styles.css */
/* styles.css */
@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.movingY {
  animation: move 3s linear infinite;
}

.spin-slow {
  animation: spin-slow 5s linear infinite;
}

.scale-up {
  animation: scale-up 3s linear infinite;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2463; /* Utilisez la même couleur que votre body */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Assurez-vous qu'il est au-dessus de tout le reste */
  transition: opacity 0.5s ease-out; /* Animation de fondu */
}

.loader {
  border: 8px solid #f3f3f3; /* Couleur claire */
  border-top: 8px solid #f49f0a; /* Couleur de votre marque */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.group {
  transition: transform 0.3s ease;
}

.group:hover {
  transform: translateY(-5px); /* Déplace la carte de 5 pixels vers le haut au survol */
}