@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

.btn:hover{
  @apply opacity-90
}
.btn_outline{
  @apply bg-transparent
}
.btn_outline:hover{
  

  @apply bg-[#f49f0a] 
}
.nav-link{
  @apply text-lg font-bold duration-300
}

.title{

  @apply font-semibold text-[#f49f0a]
}



/* styles.css */
/* styles.css */
/* styles.css */
@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.movingY {
  animation: move 3s linear infinite;
}

.spin-slow {
  animation: spin-slow 5s linear infinite;
}

.scale-up {
  animation: scale-up 3s linear infinite;
}